{# Template for Gantt chart for activities #}

<div class="gantt" id="gawain-activities-gantt-chart-container"></div>

    <script type="text/javascript">

        var g = new JSGantt.GanttChart(document.getElementById('gawain-activities-gantt-chart-container'), 'day');

        g.setScrollTo('today');
        g.setFormatArr('Day', 'Week', 'Month', 'Quarter');

        JSGantt.parseXMLString('{{ gantt_data|raw }}', g);

        g.Draw();

    </script>