




<form class="form-horizontal">
    <div class="form-group">

        {% for activity_fields_ID in activity_fields|keys %}

            {% if activity_data[activity_fields_ID] is not null %}

                <label class="col-sm-4 col-md-3 control-label">{{ activity_fields[activity_fields_ID].label }}</label>

                {% if activity_fields[activity_fields_ID].type == 'BOOL' %}

                    <div class="col-sm-8 col-md-9 checkbox disabled">
                        <label>
                            <input type="checkbox" value="" disabled="disabled" {% if activity_data[activity_fields_ID] == 1 %}checked{% endif %}>
                        </label>
                    </div>

                {% else %}

                    <div class="col-sm-8 col-md-9">
                        <p class="form-control-static">{{ activity_data[activity_fields_ID] }}</p>
                    </div>

                {% endif %}

            {% endif %}

        {% endfor %}
    </div>
</form>