/* CSS file containing all the default page settings for Gawain */


/* This leaves space for header navbar and footer */
body {
  padding-top: 70px;
  padding-bottom: 30px;
}


/* This fixes the navbar-right bad alignment to the right */
.navbar-right {
	margin-right: 0;
}


/* General class to make elements horizontally centered (must be applied to container's row) */
.gawain-h-center {
	float: none;
	margin: 0 auto;
}


/* Restyled page-header class to remove top margin */
.page-header {
	margin-top: 0.5em;
}