/* CSS file containing all the default page settings for gawain */


/* This leaves space for header navbar and footer */
body {
  padding-top: 70px;
  padding-bottom: 30px;
}


/* This fixes the navbar-right bad alignment to the right */
.navbar-right {
	margin-right: 0;
}