/* This file contains the styles associated with panels, labels, tags and other presentation elements */

/* Add some space between same elements in description lists */
dd + dt, dt + dd {
	margin-top: 0.5em;
}


/* Reduces the size of the labels in page header to match the subtitle height */
.page-header-tags {
	font-size: 55%;
	margin-left: 1em;
}

.page-header-tags > .label {
	vertical-align : middle;
}