/* This file contains all the styles associated with progress bars */

/* For progress bars in tables, delete the margin and shrink them */
td .progress {
	width: 95%;
	margin: 0;
}

td .progress-bar {
	font-size: 80%;
}